@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-custom-green {
  color: #5F6F52;
}

.bg-custom-green {
  background-color: #5F6F52;
}

.border-custom-green {
  border: solid 3px #5F6F52;
}

.bg-custom-green-light {
  background-color: rgba(112, 128, 99, 0.66);
}

.home-wrapper-height {
  min-height: calc(100vh + 4rem);
  overflow: hidden;
  margin-top: -4rem;
}

.home-wrapper-img {
  background-image: url('/assets/images/background.svg');
  background-repeat: no-repeat
}